.container
{
	display:flex;
   flex-wrap:wrap;
   position: absolute;
   left: 25%;
   right: 25%;
}
.header
{
background-image:url("doctors.jpg") ;
background-repeat: no-repeat;
width:auto;
height:350px;
border-radius: 0px 0px 40px 40px;	

}